In [1]:
import pandas as pd
import numpy as np

In [3]:
valores = np.array([1, 2, 3, 4, 5])
serie = pd.Series(valores)
serie

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [ ]:
# Es una MATRIZ unidimensional (una sola dimensión)  que puede contener cualquier tipo de datos (enteros, cadenas, floats, objetos de Python, etc.). 
# La serie también posee un índice. Dispone de varios tipos de constructores.

In [4]:
serie.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
# Tienen un índice. Autoincrementado desde 0.
# Podemos consultar ese índice con .index. Dice que va desde el cero hasta el 5 de 1 en 1.

In [ ]:
# Podemos definir nuestro propio índice con pd.Series(valores, index = [...] ejemplo: [‘a’, ‘b’, ‘c’]

In [5]:
serie = pd.Series(valores, index = ['a','b','c','d','e'])
serie

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [6]:
serie.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
# Podemos hacer una serie a partir de un diccionario de python 
d = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
serie = pd.Series(d)
serie

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
# Si usamos el diccionario, y además especificamos un indice, los valores se ordenan según el indice ordenado

serie = pd.Series(d, index = ['b','c','a','e','d'])
serie

b    2
c    3
a    1
e    5
d    4
dtype: int64

In [9]:
# Podemos utilizar funciones de numpy con un np.sum(serie) donde serie es una serie de Panda. 
# La serie actúa de manera muy similar a un numpy array y es un argumento válido para la mayoría de las funciones NumPy.
np.sum(serie)

15

In [11]:
# También podemos utilizar el max
np.max(serie)

5

In [13]:
# Podemos consultar valores de una serie, preguntando por el índice y devolviendo el valor.
serie['b']

2

In [14]:
# Podemos también preguntar por la posición, independientemente del valor del índice
serie[0]

2

In [15]:
# También podemos transformar la serie a un array de numpy
serie.to_numpy()

array([2, 3, 1, 5, 4], dtype=int64)

In [17]:
serie

b    2
c    3
a    1
e    5
d    4
dtype: int64

In [18]:
# También podemos añadir nuevos valores así 
serie['f'] = 6
serie

b    2
c    3
a    1
e    5
d    4
f    6
dtype: int64

In [19]:
# También podemos preguntar si un índice está en la serie o no
'e' in serie

True

In [20]:
# También podemos realizar operaciones a esa serie. Por ejemplo, multiplicar los valores por dos fácilmente
serie * 2

b     4
c     6
a     2
e    10
d     8
f    12
dtype: int64

In [23]:
# También podemos realizar sumas de distintas series. Creamos una serie2 con números aleatorios usando random. Índice a índice sumará dichos valores de la serie1 y serie2
serie2 = pd.Series(np.random.randint(0,10,6), index = ['b', 'c', 'a', 'e', 'd', 'f'])
serie2

b    5
c    1
a    3
e    7
d    3
f    1
dtype: int32

In [24]:
# Si algún índice no coincide se almacenará un NaN
serie + serie2

b     7
c     4
a     4
e    12
d     7
f     7
dtype: int64

In [25]:
serie2['g'] = 10
serie2

b     5
c     1
a     3
e     7
d     3
f     1
g    10
dtype: int64

In [26]:
serie

b    2
c    3
a    1
e    5
d    4
f    6
dtype: int64

In [28]:
serie + serie2

a     4.0
b     7.0
c     4.0
d     7.0
e    12.0
f     7.0
g     NaN
dtype: float64

In [ ]:
# Ojo que los trasforma a float